.spinnerQueue {
    position: absolute;
    z-index: 995;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255, 0.6);
}

.spinnerQueue .spinner-bg {
    position: fixed;
    z-index: 990;
    height: 300px;
    width: 200px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.spinnerQueue .spinner-image {
    z-index: 999;
    width: 200px;
    height: 200px;
    background-color: #337ab7;
    margin: 50px auto;
    -webkit-animation: sk-rotateplane 2.5s infinite ease-in-out;
    animation: sk-rotateplane 2.5s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(220px) }
    50% { -webkit-transform: perspective(220px) rotateY(360deg) }
    100% { -webkit-transform: perspective(220px) rotateY(360deg)  rotateX(360deg) }
}

@keyframes sk-rotateplane {
    0% { 
        transform: perspective(220px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(220px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(220px) rotateX(-360.1deg) rotateY(0deg);
        -webkit-transform: perspective(220px) rotateX(-360.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(220px) rotateX(-360deg) rotateY(-359.9deg);
        -webkit-transform: perspective(220px) rotateX(-360deg) rotateY(-359.9deg);
    }
}
